[submodule "auto-fu"]
    path = auto-fu
    url = https://github.com/PythonNut/auto-fu.zsh
[submodule "zsh-syntax-highlighting"]
    path = zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "history-substring"]
    path = history-substring
    url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "fasd"]
    path = fasd
    url = https://github.com/clvv/fasd
[submodule "dircolors-solarized"]
    path = dircolors-solarized
    url = https://github.com/seebi/dircolors-solarized
[submodule "zsh-vcs-prompt"]
    path = zsh-vcs-prompt
    url = https://github.com/yonchu/zsh-vcs-prompt
[submodule "zsh-url-httplink"]
    path = zsh-url-httplink
    url = https://github.com/Valodim/zsh-_url-httplink
[submodule "zaw-src-git-log"]
    path = zaw-src-git-log
    url = https://github.com/yonchu/zaw-src-git-log
[submodule "zaw-src-git-show-branch"]
    path = zaw-src-git-show-branch
    url = https://github.com/yonchu/zaw-src-git-show-branch
[submodule "zsh-soft-history"]
    path = zsh-soft-history
    url = https://github.com/coldfix/zsh-soft-history
[submodule "zsh-zaw"]
    path = zsh-zaw
    url = https://github.com/zsh-users/zaw
[submodule "zsh-git-escape-magic"]
    path = zsh-git-escape-magic
    url = https://github.com/knu/zsh-git-escape-magic
[submodule "zsh-dwim"]
	path = zsh-dwim
	url = https://github.com/oknowton/zsh-dwim
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	url = =
	url = https://github.com/PythonNut/zsh-autosuggestions
	branch = master
[submodule "zsh-async"]
	path = zsh-async
	url = https://github.com/mafredri/zsh-async
